@font-face {
  font-family: "Aster";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("./Aster-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Aster";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./Aster-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Aster";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Aster-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Aster";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./Aster-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Aster";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./Aster-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Aster Display";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("./AsterDisplay-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Aster Display";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./AsterDisplay-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Aster Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./AsterDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Aster Display";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./AsterDisplay-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Aster Display";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./AsterDisplay-SemiBold.woff2") format("woff2");
}
