@font-face {
  font-family: "Astr";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("./Astr-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Astr";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./Astr-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Astr";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Astr-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Astr";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./Astr-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Astr";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./Astr-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Astr Display";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("./AstrDisplay-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Astr Display";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./AstrDisplay-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Astr Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./AstrDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Astr Display";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./AstrDisplay-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Astr Display";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./AstrDisplay-SemiBold.woff2") format("woff2");
}
